{% extends "appbuilder/base.html" %}
{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1> Welcome to SunDrip </h1>
    <div class="container mt-5 text-left">
      <div class="row">
        <div class="col-sm-4">
            <h4><a href="https://github.com/redblue0216/Fiche"><strong>Sunbasket</strong></a></h4>
            <p align="left">Sunbasket is an embedded algorithmic auxiliary management tool that 
               mainly provides five categories of information management, 
               including algorithm, model, parameter, application, and data, model storage management, and algorithm logging. 
               The main technologies use SQLite, ORM, and logging, and the design mode is factory mode.</p>
        </div>
        <div class="col-sm-4">
            <h4><a href="https://github.com/redblue0216/Liquid"><strong>SunFlow</strong></a></h4>
            <p align="left">Sunflow is a workflow management tool that provides fast organization of algorithm applications, primarily using pluggy based hook technology.</p>
        </div>
        <div class="col-sm-4">
            <h4><a href="https://github.com/redblue0216/DaShare"><strong>SunShare</strong></a></h4>
            <p align="left">Sunshare is a python sdk with data service and data client</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}